*~
.anjuta/
.anjuta_sym_db.db
Makefile
Makefile.in
autom4te.cache/requests
config.log
config.status
libtool
src/.deps/mapascromosomicos-mapascromosomicos.Po
src/Makefile
src/Makefile.in
src/mapascromosomicos
src/*.o
autom4te.cache/output.2
autom4te.cache/traces.2
ProyectoBMC1-MapasCromosomicos.git.anjuta
src/.deps/*.Po
